<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trip.web.dao.MainDAO">

<select id="arrivalList" parameterType="String" resultType="String">
	SELECT DISTINCT farrival
	FROM flights
	WHERE fdeparture=#{departure}
</select>

</mapper>